.tasks {
    position: relative;    
    margin-bottom: 1em;
}
.tasks p {
    display: inline-block;
    margin-right: 1em;
}
.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    overflow: hidden;
}
.progress .task {
    flex-grow: 1;
    text-align: center;
    padding: .1em;
    background: linear-gradient(to left, salmon 50%, lightblue 50%) right;
    background-size: 200%;
}
.progress .task.complete {
    animation: complete 1s;
    background-position: left;
}
@keyframes complete {
    0% {
        background-position: right;
    }
    100% {        
        background-position: left;
    }
}

/* .tasks .gift {
    position: absolute;
    top: .1em;
    right: 0;
}
.tasks .gift button {
    border: 0;
    background: transparent;
    cursor: pointer;
} */

.wallet {
    text-align: center;
}

.posts {
    margin: 1em 0;
}

.post-create {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1em;
}

.post-create .stickers {
    display: flex;
    overflow-x: auto;
}

.post-create .field textarea {
    resize: vertical;
    width: 100%;
    min-height: 2em;
}

.post-create .field button {
    display: block;
    margin: auto;
}

::ng-deep .post {
    margin: 1em 0;
}