<article class="post" (mouseenter)="setCtrl()" (mouseleave)="editable = false">
    <section class="info">
        <label class="author">{{ formatAddress(post.author) }}</label>
        <span class="lastUpdated">{{ formatTimestamp(post.lastUpdated) | date: 'YYYY/MM/dd HH:mm:ss' }}</span>
    </section>

    <ng-container *ngIf="showEditor else readonly">
        <section class="content">
            <textarea #content [value]="post.content"></textarea>
        </section>

        <section class="interact">
            <div class="ctrl">
                <button (click)="save(content.value)">💾</button>
                <button (click)="showEditor = false">❌</button>
            </div>
        </section>
    </ng-container>

    <ng-template #readonly>
        <section class="content">
            {{ post.content }}
        </section>

        <section class="interact">
            <div class="like">
                <button (click)="like()">❤️</button>
                <span class="count">The post gets {{ post.allLovers.length }} ❤️</span>
            </div>
        
            <div class="ctrl" *ngIf="editable">
                <button (click)="showEditor = true">✏️</button>
                <button (click)="delete()">❌</button>
            </div>
        </section>
    </ng-template>
</article>